html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, img,
small,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas,
figure, figcaption, footer, header, 
nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
    box-sizing: border-box;
    font-size: 100%;
}
abbr {
    font-variant: none;
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.visually-hidden { 
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}

@media (max-width: 650px){
    .mobile-hidden{
        display: none;
    }
}
body{
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    font-family: 'Bangers', cursive;    
}
h1{
    font-size: 4.5rem;
}
@media (max-width: 650px){
    h1{
        font-size: 3.5rem;
    } 
}

h2{
    font-size: 3rem;
    margin: 0 0 .75rem 0;
}

.header {
    width: 100%;
    height: 100vh;
    position: relative;
    border: 0px solid black;
    border-width: 0 0 2px 0;

    overflow: hidden; /* skru av denne dersom video blir brukt */
}


.header::before{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    opacity: .75;
    background: black;
    transition: 1s opacity linear 2.5s;
}
.header::after{
    content: "";
    bottom: -2px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 3;
    background: black;
}

.loaded .header::before{
    opacity: .05;
}

.header__title{
    position: absolute;
    z-index: 2;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    text-shadow: 1px 1px 5px rgba(0,0,0,.5);
}

.header__socials{
    position: absolute;
    z-index: 2;
    bottom: 1rem;
    right: 1rem;
}
.header__socials ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.header__socials svg{
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
}

.header__socials a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1rem;
    transition: .25s color linear 0s;
}

.header__title > span{
    opacity: 0;
    transition: .25s opacity linear 0s;
}
.loaded .header__title > span{
    opacity: 1;
}
.loaded .header__title > span:last-child{
    transition-delay: 1.5s;
}
.loaded .header__socials a {
    transition-delay: 1.5s;
}
.loaded .header__socials a {
    color: black;
}
.loaded.no-touch .header__socials a:hover {
    background: rgba(255,255,255,.5)
}

.header__video,
.header__image {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 2000px;
    margin: 0 auto;
}
.box{
    flex: 0 0 100%;
    border: 0px solid black;
    border-width: 2px 0;
    position: relative;
}

.box.full{

}

.box.text{
    padding: 1rem .5rem;
}
.box.text p{
    margin: 1rem 0;
}
.box.text p:first-child{
    margin-top: 0;
}

.box.text p a{
    color: inherit;
}

.box.text p a:hover{
    background: black;
    color: white;
}

.box.text em{
    font-weight: bold;
    text-decoration: none;
}

.box.pic {
    overflow: hidden;
}
.box.pic img{
    display: block;
    transform: scale(1) translate(0,0);
    transition: 1s all ease-out 0s;
}
.box.pic:hover img{
    transform: scale(1.2) translate(0,0);
    transition: 3s all ease-in-out 0s;
}

.box.pic figcaption{
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    max-width: calc(100% - 2rem);
    background: black;
    color: white;
    padding: .5rem;
    opacity: 0;
    transition: .25s all ease-out 0s;
}
.box.pic figcaption a{
    color: inherit;
}
.box.pic figcaption a:hover{
    background: white;
    color: black;
}

.box.pic:hover figcaption{
    opacity: 1;
}

.touch.pic figcaption{
    opacity: 1;
}

.box ul{
    padding: 0 0 0 1.25rem;
}

#medium-posts-container{
    position: relative;
    padding: 1rem .5rem;
    border: 2px solid black;
}

#medium-post-list-container {
    list-style: none;
    padding: 0;
    margin: 0;
}

#medium-post-list-container li{
    margin: 0 0 .5rem 0;
}
#medium-post-list-container a{
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    color: inherit;
}
#medium-post-list-container a > div{
    position: relative;
}
#medium-post-list-container a > div:first-child{
    flex: 0 0 25%;
    margin-right: .5rem;
}
#medium-post-list-container a:hover .medium-article-title{
    text-decoration: underline;
}
.medium-article-date{
    position: absolute;
    left: .15rem;
    top: .15rem;
    font-style: italic;
    background: black;
    color: white;
    padding: .15rem;
    font-size: .5rem;
}
.medium-article-thumb{
    width: 100%;
    height: auto;
}

.medium-article-title{
    font-weight: bold;
    font-size: 1.15rem;
}
.medium-article-subtitle{
    font-size: .75rem;
    margin: .25rem 0 0 0;
}

[data-fetch-success="false"] {
    min-height: 500px;
    background: url('./media/loader.gif') no-repeat center center;
}

table{
    border-collapse: collapse;
    width: 100%;
}

table tr a{
    color: inherit;
}

table td, table th {
    border: 1px solid #ddd;
    padding: .25rem .4rem;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table thead th{
    position: sticky;
    top: 0;
}
table th {
    text-align: left;
    background-color: yellow;
    color: black;
    font-weight: bold;
}

ul.spons-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.spons-list-item{
    padding: 1rem 0;
    border-top: 1px solid rgba(0,0,0,.2);
}

.spons-list-item:first-child{
    border: none;
    padding-top: 0;
}

.spons-logo{
    float: left;
    margin: .25rem 1rem 0 0;
    padding: .5rem;
    border: 1px solid rgba(0,0,0,0.1);
}

.spons-list-item.blank .spons-logo{
    border: 2px dashed rgba(0,0,0,.3);
    background: rgba(0,0,0,.1);
    text-align: center;
    width: 200px;
    height: auto;
    padding: 1rem;
    color: black;
}
.spons-list-item.blank .spons-promo {
    margin-top: 0
}

.spons-list-item p a{
    color: inherit;
}

.spons-external{
    margin: 1rem 0 0 0;
}



.spons-logo{
    
}

footer{
    background: black;
    text-align: center;
    color: rgba(255,255,255,.75);
    padding: .5rem;
    font-size: .75rem;
}

footer a {
    color: inherit;
    text-decoration: underline;
}

footer a:hover {
    color: white;
}

.video-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
}

.video-container iframe, 
.video-container object, 
.video-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

dl{
    display: flex;   
    flex-wrap: wrap;
    align-items: flex-start;
}


dt {
    padding: 2px 0;
    flex: 0 0 35%;
    overflow: hidden; 
}

dd {
    padding: 2px 0 20px 0;
    margin-left: 0;
    flex: 65% 0 0;
    padding-left: 20px;
    max-width: 65%;
}

dd + dd {
    margin-left: 35%;
}
  

@media (min-width: 650px){
    html{
        font-size: 140%;
    }
    .main{
        flex-direction: row;
        border: 2px solid black;
    }
    .header__title{
        padding: 2rem;
    }

    #medium-posts-container{
        flex: 0 0 100%;
        padding: 2rem;
    }
    #medium-post-list-container a > div:first-child{
        margin-right: 1.5rem;
    }

    #medium-post-list-container li{
        margin-bottom: 1rem;
    }

    .box.text{
        padding: 2rem;
    }
    .box.pic img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /*.box:nth-of-type(3){order: 4;}
    .box:nth-of-type(3){order: 4;}*/

}


@media (min-width: 900px){
    .box{
        flex: 0 0 50%;
        border-width: 2px;
    }

    .box.full{
        flex: 0 0 100%;
    }
    
}